.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

body{
    background: rgba(26, 11, 46, 1);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    color: white;
    font-size: 45px;
    font-weight: 800;
}
.navbar .logo span{
    color: rgb(190, 0, 248)
}

.navbar .about li{
    list-style: none;
    display: inline;
    padding: 20px;
}
.navbar .about li a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none; 
}
.navbar .subs{
    height: 20px;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
     background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.navbar .subs img{
    height: 20px;
    width: 20px;
}
/* Banner Section */
.hero-bg{
    width: 100%;
    height: 760px;
    background: url("../assets/hero-bg.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mic{
    position: relative;
    height: 350px;
    width: 350px;
    background: url("../assets/hero-circle.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.mic img{
    height: 200px;
}
.mic p{
    position:absolute;
    top: 12px;
    right: 23px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.hero-content{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.hero-content .h1{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    margin: 40px 0 0 0;
}
.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
}
.hero-btn button{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 50px;
    font-size: 16px;
    font-weight:600;
    padding: 12px 20px;
}
.colorful{
    border: none;
    background:linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)) ;
    color: #fff;
}
.green-btn{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
}