
*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

body{
    background: rgba(26, 11, 46, 1);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
 .logo{
    color: white;
    font-size: 3rem;
    font-weight: 800;
}
 .logo span{
    color: rgb(190, 0, 248)
}

.navbar .about li{
    list-style: none;
    display: inline;
    padding: 1.4rem;
}
.navbar .about li a{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none; 
}
.navbar .subs{
    height: 20px;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
     background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.navbar .subs img{
    height: 20px;
    width: 1.4rem;
}

.hamburger{
    display: none;
}
/* Banner Section */
.hero-bg{
    width: 100%;
    height: 760px;
    background: url("../assets/hero-bg.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mic{
    position: relative;
    height: 350px;
    width: 350px;
    background: url("../assets/hero-circle.png");
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wave 7s linear forwards;

}
.mic img{
    height: 200px;
}
.mic p{
    position:absolute;
    top: 12px;
    right: 23px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.hero-content{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
} 
.hero-content .h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #fff;
    margin: 40px 0 0 0;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.hero-btn button{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight:600;
    padding: 12px 20px;
}
.colorful{
    border: none;
    background:linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)) ;
    color: #fff;
}
.green-btn{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
}
.podcast{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 475px;
}
.pod-title{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 16px 0;
    text-align: center;
}
.pod-para{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 6px 0;
}
.pod-data{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    color: #fff;
    text-align: center;
}
.p-head{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(119, 214, 119);
}
.p-body{
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
}
/* Grid Section */
.grid-container{
    margin: 120px 120px 50px 120px;
    color: #fff;
}
.why{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 0 40px 0;
}
.bx-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    gap: 30px;
}
.g-box{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

}
.bx-1{
    grid-row: span 2;

}
.bx-2{
    grid-column: span 2;
}
.bx-3{
    grid-column: span 2;
}
.bx-4{
    grid-column: span 2;
}
/* Featured Episodes */
.f-episode{
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:40px;
}
.f-video{
    border-radius: 24px 24px 0px 0px;
}
.f-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.f-card{
    border-radius: 24px;
    background: rgba(53, 17, 101, 0.4);
}
.f-desc{
    margin: 24px;
}

.f-desc p{
    margin: 12px 0;
    color:#fff;
    opacity: 0.8;
}
.f-desc h1{
    color: #fff;
}
.f-desc .time{
    color: rgb(0, 255, 136);
    opacity: 1;
}
.featured{
    color:#fff;
    font-size: 32px;
    font-weight: 700;
}
/* Host Section */
.host{
    color: #fff;
}
.host-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}
.host-banner{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 200px 120px 200px;
    padding: 40px;

}
.info-icons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info-icons .name{
    font-size: 2rem;
    font-weight: 700;
}
.host-info .info{
    font-size: 1rem;
    font-weight:400;
    line-height: 1.5rem;
    opacity: 0.6;
}
.icon-bx{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.s-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgb(190, 0, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background: url("../assets/footer-bg.png") center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
footer p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.6;
}
.foot-icon-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.foot-icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* Mobile View */

@media (max-width:576px) {
    .navbar .about{
        display: none;
    }
    .navbar .subs{
        display: none;
    }
    .hamburger{
        display: inline;
    }

    .hero-content p{
        text-align: center;
    }

    .pod-data{
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-content: center;
        justify-content: center;
        gap: 40px;
    }
    .grid-container{
        padding: 120px 30px;
    }
    .why{
        font-size: 2rem;
    }
    .bx-container{
        display: flex;
        flex-direction: column;
    }
    .f-card-container{
        flex-direction: column;
    }

    .host-banner{
        flex-direction: column;
        margin: 50px;
        text-align: center;
    }
    .info-icons{
        align-items: center;
        justify-content: center;
    }
    footer{
        background: url("../assets/footer-bg.png") center;
    }
    footer .logo{
        font-size: 2rem;
    }
    .foot-icon-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }

}
@keyframes wave {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
        scale: 0.25;
    }
    50%{
        opacity: 0.5;
        scale: 0.5;
    }
    75%{
        opacity: 0.75;
        scale: 0.75;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
    
}